@keyframes mymove {
    from {width: 25px;
          opacity: 0;}
    to {width: 475px;
        opacity: 1;}
}

#logo {
    animation-name: mymove;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

body {
    font-family: 'Poppins', serif;
    background-image: url(../images/concrete_seamless.png);
    background-color: #f1f1f1;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_links {
    display: flex;
    flex-direction: column;
}

a, a:visited {
    color: blue;    /* not sure if it's right */
}

.card > header {
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding: 20px 0px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.card {
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

/* 7 and 8 */
.card {
    flex-basis: 450px;
}

.pricing {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.gallery img {
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 900px) {
    body > header {
        flex-direction: row;
        justify-content: space-between;
        position: sticky;
        top: 0;
    }

    .nav_links {
        flex-direction: row;
    }

    .card {
        flex-basis: 275px;
    }

    .pricing {
        flex-wrap: nowrap;
    }
}

@media (prefers-reduced-motion: reduce) {
    #logo {
        animation: none;
    }
}

@media print {
    body {
        font-family: Arial, Helvetica;
        background-image: none;
    }

    header > nav {
        width: 100%;
    }

    .nav_links {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .pricing {
        align-items: flex-end;
        flex-wrap: nowrap;
    }

    .card {
        border: solid 2px #45ADDD;
        flex-basis: 325px;
    }

    .gallery, #gallery {
        display: none;
    }

    .card ul > li:nth-child(2)::after {
        content: "\1F44D";
    }

}